p {
    color: red;
    color: #ffa400;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
}
.background {
    background-color: #3b0ade;
    width: 100px;
    min-height: 100px;
    /* height: 100px; */
    /* overflow: hidden; */
    /* overflow-y: auto; */
}
.background2 {
    /* background-image: url("https://images.unsplash.com/photo-1632260260864-caf7fde5ec36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxhc2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); */
    /* width: 100%;
    height: 250px; */
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background: red 
    url("https://images.unsplash.com/photo-1632260260864-caf7fde5ec36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxhc2h8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60") no-repeat center center; 
    width: 100vw;
    height: 100vh;
    /* no-repeat center center / fixed ; */
}